.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: white;
  height: 150px;
  padding: 20px;
  color: black;
  border-bottom: 2px red solid;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.loading {
    width: 200px;
    height: 100px;
    position:absolute;
    top:50%;
    left:50%;
    text-align: center;
    font-size: 1.5em;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    border: 1px black solid;
}
